[submodule "aur.archlinux.org/logc-git"]
	path = aur.archlinux.org/logc-git
	url = ssh://aur@aur.archlinux.org/logc-git.git
[submodule "aur.archlinux.org/marwaita-icons-git"]
	path = aur.archlinux.org/marwaita-icons-git
	url = ssh://aur@aur.archlinux.org/marwaita-icons-git.git
[submodule "aur.archlinux.org/bytesize-git"]
	path = aur.archlinux.org/bytesize-git
	url = ssh://aur@aur.archlinux.org/bytesize-git.git
[submodule "aur.archlinux.org/python-wora-git"]
	path = aur.archlinux.org/python-wora-git
	url = ssh://aur@aur.archlinux.org/python-wora-git.git
